*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
}
.main .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}
.main .content h1{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.main .content button{
    border: none;
    border-radius: 16px;
    padding: 10px 30px;
    color: #fff;
    transition: all ease 0.2s;
    background-color: rgb(241, 35, 35);
}
.main .maintxt button:hover{
    scale: 1.1;
}